body{margin:0px;}
/* nav樣式設定 */

nav{
	display:flex
}
nav>.logo{
	
	flex:auto;/* 沒有彈性且固定尺寸 */
	
	background-color:#ffcccc;
}
nav>.menu{
	flex:none;/* 盡量把容器空間張滿 */
	width:250px;
	background-color:#ccccff;
}
nav>.user{
	flex:none;
	width:100px;
	background-color:#ccffcc;
}
/* main 樣式設定 */
main{/* 容器 */
	display:flex;/* 並排 */
	flex-wrap:wrap;/* 讓欄位會跑動的關鍵 */
	justify-content:center;/* 內容置中 flex-start,flex-end */
	align-items:center;/* 垂直對齊靠中,預設:stretch ,flex-start靠上方,flex-end靠下方*/
	background-color:#cccccc;
}
main>.item{/* 項目 */
	flex:none; /* 表項目無法自動縮放 */
	width:280px;margin:10px;
	background-color:#ffcccc
} 

@media (max-width:1200px){
	main>.item{
		width:45%;
	}
}
@media (max-width:500px){
	main>.item{
		width:90%;
	}
}